<!-- <app-nav-bar ></app-nav-bar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
    <app-side-menu></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content>
   
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- app.component.html -->

<app-login *ngIf="!isLoggedIn"></app-login>

<!-- Conditionally render side menu and nav bar only if the user is logged in -->
<ng-container *ngIf="isLoggedIn">
  <!-- <app-nav-bar></app-nav-bar> -->
  <!-- <app-nav-bar (toggleSideMenu)="onToggleSideMenu()"></app-nav-bar> -->
  <!-- app.component.html -->

<!-- <app-nav-bar (toggleSideMenuEvent)="onToggleSideMenu()"></app-nav-bar> -->
<!-- app.component.html -->

<!-- <app-nav-bar (toggleSideMenuEvent)="onToggleSideMenu()"></app-nav-bar> -->
<!-- app.component.html -->

<app-nav-bar (onToggleSideMenu)="onToggleSideMenu()"></app-nav-bar>




  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="isSideMenuVisible">
      <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Your main content goes here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
