<div class="dashboard-container">
    <div class="chart-container">
        <h2>Customers With Max Pending PIs</h2>
      <div style="display: block;">
        
        <!-- <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas> -->
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        
        >
       
</canvas>
<h2>Chart C</h2>

<canvas baseChart
[datasets]="barChartData"
[labels]="barChartLabels"
[options]="barChartOptions"
[legend]="barChartLegend"

>
</canvas>
      </div>
    </div>
<!-- #################################################################################################### -->
<div class="chart-container">
    <h2>Chart B</h2>

    <div style="display: block;">
      <!-- <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas> -->
      <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      
      >
</canvas>
<h2>Chart D</h2>

<canvas baseChart
[datasets]="barChartData"
[labels]="barChartLabels"
[options]="barChartOptions"
[legend]="barChartLegend"

>
</canvas>
    </div>
  </div>
  <!-- ############################################################################################################ -->

    
  </div>
  